body{
background:#020617;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:#38bdf8;
}

.form input,select{
padding:8px;
margin:5px;
}

button{
padding:8px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}

table{
width:95%;
margin:auto;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid #334155;
padding:8px;
}

.active{
background:#14532d;
}

.putus{
background:#7f1d1d;
}

.maintenance{
background:#78350f;
}
.dashboard{
display:flex;
justify-content:center;
gap:15px;
margin:20px;
flex-wrap:wrap;
}

.card{
background:#0f172a;
padding:15px;
width:150px;
border-radius:10px;
box-shadow:0 0 10px #38bdf8;
}

.card h3{
margin:0;
color:#38bdf8;
}

.card p{
font-size:24px;
margin-top:5px;
}

.danger{
box-shadow:0 0 10px red;
}

#search{
padding:10px;
width:80%;
margin:10px;
}
