body {
    font-family: Arial;
    background:#0f172a;
    color:white;
    text-align:center;
}

h1 {
    color:#38bdf8;
}

.form input {
    padding:10px;
    margin:5px;
}

button {
    padding:10px;
    background:#22c55e;
    border:none;
    color:white;
    cursor:pointer;
}

table {
    margin:auto;
    margin-top:20px;
    border-collapse:collapse;
    width:80%;
}

th, td {
    border:1px solid #334155;
    padding:10px;
}

th {
    background:#1e293b;
}
