body{
background:#020617;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:#38bdf8;
}

.form input,select{
padding:8px;
margin:5px;
}

button{
padding:8px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}

table{
width:95%;
margin:auto;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid #334155;
padding:8px;
}

.active{
background:#14532d;
}

.putus{
background:#7f1d1d;
}

.maintenance{
background:#78350f;
}
